
body{
    background-color: rgb(235, 250, 246);
}


.container, .rodape{
    background-color: rgb(207, 240, 250);
    padding: 20px;
    width: 960px;
    margin: auto;
    
}

a{

    background-color: antiquewhite;
    text-decoration: none;
}

#foto-livraria{
    width: 960px;
}

